---
import Layout from '../../../layouts/Layout.astro';

import Navigation from '../../../components/Navigation.astro';
import Footer from '../../../components/Footer.astro';

import tears from '/src/img/tears.svg';

---

<Layout title="Dream - What We Do / Deep Market Research">
	<Navigation />
	<header class="hero-home">
		<div class="hero-elements main-content">
			<section class="header-text solo-header">
				<h1 class="page-title">Deep Market <span>Research</span></h1>
				<span>Go beyond simple prospect lists and truly understand your target companies with Dream's advanced research tools. </span>
			</section>
		</div>
	</header>
	<main>
		<section class="main-content">
				
		</section>
	</main>
	<Footer />
</Layout>