---
import Layout from "../../../layouts/Layout.astro";

import Navigation from "../../../components/Navigation.astro";
import Footer from "../../../components/Footer.astro";
import messaging from "/src/img/messaging.png";
import Button from "../../../components/Button.astro";
import listBuilding from "/src/img/list-building.png";
import introImage1 from "/src/img/promo-hotel-target.png";
---

<Layout title="Dream - What We Do / Increasing Sales">
  <Navigation />
  <header class="hero-home">
    <div class="hero-elements main-content">
      <section class="header-text solo-header">
        <h1 class="page-title">
          Finally, a sales tool that works for your industry
        </h1>
        <span
          >Dream agents can target difficult to find verticals that aren't on
          LinkedIn</span
        >
      </section>
    </div>
  </header>
  <main>
    <section class="main-content content-row">
      <article class="tools-section content-container">
        <h2 class="section-heading">Sell more with AI technology</h2>

        <div class="tools-grid">
          <div class="tool-container">
            <div class="tool-card">
              <div class="tool-content">
                <p>
                  Traditional sales tools have only worked for industries that
                  have a significant LinkedIn presence.
                </p><p>
                  This meant companies that sold to SMEs like doctors, dentists,
                  bars and restaurants couldn't benefit from automated growth.
                </p>
                <p>
                  <b>Dream's AI changes all that.</b>
                </p>
                <p>
                  With Dream, your agents can find leads and prospects anywhere
                  online, not just on LinkedIn meaning that anyone in any
                  industry can automate their growth.
                </p>
              </div>
            </div>
            <div class="tool-image">
              <img src={introImage1.src} alt="Illustration of AI-powered SDR" />
            </div>
          </div>
        </div>
      </article>
    </section>
    <section class="main-content">
      <article class="content-container">
        <h4>Sales leaders use Dream to drive outbound lead generation</h4>
        <div class="content-pair">
          <div class="text-content">
            <p class="secondary-description">
              Sales hires are expensive and many companies leverage SDRs and
              other frontline sales professionals to send outbound
              communications to potential customers.
            </p>
            <p class="secondary-description">
              With Dream, companies that want to grow through outbound sales
              <b>no-longer need to do this by adding headcount.</b>
            </p>
            <ul class="feature-list">
              <li>
                Sales agents are customized to track unique buying signals.
              </li>
              <li>
                Agents can be avatars of real employees or fictional profiles
                suited to a market.
              </li>
              <li>
                Setup specific campaign goals (e.g. book a meeting, send a
                sample) for agents to follow.
              </li>
              <li>
                Agents use email and LinkedIn to outreach, reply to and book
                meetings with prospects.
              </li>
              <li>
                Full CRM integration allows you to operate agents alongside
                humans.
              </li>
              <li>
                Agents can find prospects themselves based on guidance or use an
                existing target list.
              </li>
            </ul>
          </div>
          <div class="image-content">
            <img
              src={messaging.src}
              alt="An example of different search types for hotels and F&B"
            />
          </div>
        </div>
      </article>
    </section>
    <section class="main-content promo-bg promo-dark-blue">
      <article class="content-container">
        <div class="text-container">
          <h2>Case Study:<br /> Swoop Funding</h2>
          <p>
            Swoop help small businesses around the world find the right finance
            providers. They work with accountants and CPAs to make this happen.
          </p>
          <p>
            Before Dream, outbound was impossible to manage with their target
            customer being difficult to find.
          </p>
          <p>
            Dream allowed Swoop to partner their expert team of Account
            Executives with AI Sales Agents in multiple geographies, increasing
            their top-of-funnel overnight.
          </p>
          <Button
            label="Join Swoop in growing outbound meetings"
            href="/book-meeting"
            target="_blank"
            variant="reverse"
          />
        </div>
        <div class="image-container">
          <img
            src={listBuilding.src}
            alt="An illustration of two research questions over a table of results"
          />
        </div>
      </article>
    </section>
  </main>
  <Footer />
</Layout>
