---
import Layout from '../../../layouts/Layout.astro';

import Navigation from '../../../components/Navigation.astro';
import Footer from '../../../components/Footer.astro';

---

<Layout title="Dream - What We Do / Testing New Markets">
	<Navigation />
	<header class="hero-home">
		<div class="hero-elements main-content">
			<section class="header-text solo-header">
				<h1 class="page-title">Testing <span>New Markets</span></h1>
				<span>Dream enables you to introduce new markets to your outbound sales in a matter of hours. No need to hire sales people that cover all the desired languages - now you can kick-start new market penetration when you want.</span>
			</section>
		</div>
	</header>
	<main>
		<section class="main-content">
				
		</section>
	</main>
	<Footer />
</Layout>