---
import Layout from '../../../layouts/Layout.astro';

import Navigation from '../../../components/Navigation.astro';
import Footer from '../../../components/Footer.astro';

---

<Layout title="Dream - What We Do / Testing New Markets">
	<Navigation />
	<header class="hero-home">
		<div class="hero-elements main-content">
			<section class="header-text solo-header">
				<small class="tag">What we do / Use Cases</small>
				<h1 class="page-title">Testing New Markets with Dream: Spin Up <span>Sales Teams Anywhere</span></h1>
				<span>Dream enables you to introduce new markets to your outbound sales in a matter of hours. No need to hire sales people that cover all the desired languages - now you can kick-start new market penetration when you want.</span>
			</section>
		</div>
	</header>
	<main>
		<section class="main-content promo-bg promo-clear">
			<article class="content-container">
				<div class="text-container">
					<h2>Discover New Market Potential Without the Overhead</h2>
					<p>
						For SaaS businesses and marketplaces, testing a new market is often a daunting process. Traditionally, expanding into a new region requires hiring a General Manager (GM) and building a sales team, even before knowing if the effort will succeed. The cost, time, and resources involved make testing new markets a significant risk.
					</p>
					<p>
						Dream changes the equation. With Dream’s AI-powered sales agents, companies can quickly and cost-effectively test new markets by deploying virtual sales teams. You can evaluate demand, test outbound techniques, and adapt buying triggers to new regions—without the need to hire full-time staff.
					</p>
				</div>
			</article>
		</section>
	</main>
	<Footer />
</Layout>