---
import Layout from '../../layouts/Layout.astro';

import Button from '../../components/Button.astro';
import Header from '../../components/Navigation.astro';

import arrowRightDark from "/src/img/arrow-right-dark.svg";

import arrowRightYellow from '/src/img/arrow-right-yellow.svg';

import "../../styles/main.scss";
import UseCaseBlock from '../../components/UseCaseBlock.astro';

---

<Layout title="Dream use cases - Expanding sales">
	<header>
		<Header />
		<div class="hero-elements main-content">
			<section class="header-text ">
                <small class="tag"><a href="/use-cases">Use cases</a></small>
				<h1 class="page-title">For companies who want to ramp up outbound sales</h1>
				<span>Traditionally, companies looking to expand their sales efforts would have turned to increasing the size of their sales team. Hiring new SDRs/BDRs to increase the amount of outbound sales that they can do. That is now the past. Companies now use Dream to reliably expand their sales efforts, without the cost & pain of hiring big junior sales teams. 
                </span>
                <Button 	
					label="Get started with Dream"
					href="https://calendly.com/cgdcowley/discovery-call-dream" 
					target="_blank"
				><img src={arrowRightYellow.src} role="presentation" /></Button>
			</section>
		</div>
	</header>
	<main>
		<section class="main-content content-row">
			<UseCaseBlock state="state2" />
            <UseCaseBlock state="state4" />
            <UseCaseBlock state="state3" />
            <UseCaseBlock state="state5" />
		</section>
        <section class="main-content content-list">
            <section class="main-content content-row"> 
                <article class="stats-box"> 
                <h2>What this delivers</h2> 
                <ul class="stats-items"> 
                    <li><span class="number">10x</span><p>Your pipeline generation</p> </li>
                    <li><span class="number">25%</span><p>The cost vs a human</p> </li>
                </article> 
            </section>
        </section>
	</main>
	<section class="final-cta">
		<article class="main-content cta-container">
			<h3>Accelerate your sales, maximise conversion, with instant ramp-up</h3>
			<p>Get your sales running on autopilot. Start using Dream today.</p>
			<Button 	
							label="Book your demo"
							href="https://calendly.com/cgdcowley/discovery-call-dream" 
							target="_blank"
						><img src={arrowRightDark.src} role="presentation" alt="" loading="lazy"/></Button> 
		</article>
		<footer><small>Copyright Dream 2024</small> <small><a href="/privacy">Privacy Policy</a></small></footer>
	</section>
</Layout>