---
import Layout from '../../layouts/Layout.astro';

import Button from '../../components/Button.astro';
import Header from '../../components/Navigation.astro';

import arrowRightDark from "/src/img/arrow-right-dark.svg";

import arrowRightYellow from '/src/img/arrow-right-yellow.svg';

import "../../styles/main.scss";
import UseCaseBlock from '../../components/UseCaseBlock.astro';

---

<Layout title="Target the right company, at the right time, with the right message">
	<header>
		<Header />
		<div class="hero-elements main-content">
			<section class="header-text ">
                <small class="tag"><a href="/use-cases">Use cases</a></small>
				<h1 class="page-title">For companies who are hiring their first sales person</h1>
				<span>Companies look to hire their first dedicated sales person to ramp up their capacity to do outbound sales - sales that’s typically heavily founder-led. As a result, hiring that first sales person is difficult, where all you really want is more resource to have new business booked in your calendar.                  
                </span>
                <span>
                    That’s Dream. Your sales partner that will do all the leg work of booking new business in your calendar.  
                </span>
                <Button 	
					label="Get started with Dream"
					href="https://calendly.com/cgdcowley/discovery-call-dream" 
					target="_blank"
				><img src={arrowRightYellow.src} role="presentation" /></Button>
			</section>
		</div>
	</header>
	<main>
		<section class="main-content content-row">
			<UseCaseBlock state="state1" />
            <UseCaseBlock state="state3" />
            <UseCaseBlock state="state5" />
		</section>
        <section class="main-content content-list">
            <section class="main-content content-row"> 
                <article class="stats-box"> 
                <h2>What this delivers</h2> 
                <ul class="stats-items"> 
                    <li><span class="number">10x</span><p>Your pipeline generation</p> </li>
                    <li><span class="number">25%</span><p>The cost vs a human</p> </li>
                </article> 
            </section>
        </section>
	</main>
	<section class="final-cta">
		<article class="main-content cta-container">
			<h3>Accelerate your sales, maximise conversion, with instant ramp-up</h3>
			<p>Get your sales running on autopilot. Start using Dream today.</p>
			<Button 	
							label="Book your demo"
							href="https://calendly.com/cgdcowley/discovery-call-dream" 
							target="_blank"
						><img src={arrowRightDark.src} role="presentation" alt="" loading="lazy"/></Button> 
		</article>
		<footer><small>Copyright Dream 2024</small> <small><a href="/privacy">Privacy Policy</a></small></footer>
	</section>
</Layout>