$wallstreetBlack: #000D26;
$plusWhite: #FFFEFA;

$gray-lightest: #F3F3F5;

$brand-main: $wallstreetBlack;
$brand-background: rgb(255, 214, 1);
$brand-background-light: $plusWhite;
$brand-actions: #000D26;
$brand-actions-dark: darken($brand-actions,20%);

$brand-titles: $brand-main;
$brand-body: #061636;

$brand-text: $brand-main;
$brand-text-light: #FFFEFA;

/* brand one colours


$brand-main: #47FF9C;
$brand-background: #000D26;
$brand-background-light: lighten($brand-background,90%);
$brand-actions: #00A7E1;
$brand-actions-dark: darken($brand-actions,20%);

$brand-titles: #000D26;
$brand-body: #061636;

 */