@import './colours.scss';
@import './type.scss';

@mixin ButtonConstants {
    font-family: 'Geist', sans-serif;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    font-weight: 500;
    white-space: nowrap;
    transition: background-color .2s ease, box-shadow .2s ease, border-color .2s ease;
    text-decoration: none; 
    letter-spacing: -0.1%;
    display: flex;
}

@mixin PrimaryButton {
    background: $wallstreet-black;
    box-shadow: $box-shadow-sm;
    color: $plus-white;

    &:hover {
        box-shadow: $box-shadow-md;
        background: $performa-black;
    }
}

@mixin SecondaryButton {
    border: 1px solid $light-grey;
    background: $plus-white;
    box-shadow: $box-shadow-sm;
    color: $wallstreet-black;

    &:hover {
        box-shadow: $box-shadow-md; 
        background: $quadra-grey;
    }
}

@mixin dreamButtonPrimarySmall {
    @include PrimaryButton();
    @include ButtonConstants();

    height: 32px;
    padding: 8px 12px;
}

@mixin dreamButtonSecondarySmall {
    @include ButtonConstants();
    @include SecondaryButton();

    border: 1px solid $light-grey;
    background: $plus-white;
    box-shadow: $box-shadow-sm;
    color: $wallstreet-black;
}

@mixin dreamButtonPrimaryMedium {
    @include PrimaryButton();
    @include ButtonConstants();

    height: 44px;
    padding: 12px 20px;
}

@mixin dreamButtonSecondaryMedium {
    @include ButtonConstants();
    @include SecondaryButton();

    height: 44px;
    padding: 12px 20px;
    border: 1px solid $light-grey;
    background: $plus-white;
    box-shadow: $box-shadow-sm;
    color: $wallstreet-black;
}

@mixin dreamButtonPrimaryLarge {
    @include PrimaryButton();
    @include ButtonConstants();

    height: 52px;
    padding: 16px 24px;
}

@mixin dreamButtonSecondaryLarge {
    @include ButtonConstants();
    @include SecondaryButton();

    height: 52px;
    padding: 16px 24px;
}

.hero {
  position: relative;
  z-index: 1;
}

.hero::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 3px;
  border-radius: 2px;
  background: linear-gradient(90deg, $dream-yellow 0%, $sawtooth-blue 100%);
  z-index: -1;
  transition: opacity 0.2s;
  opacity: 1;
}