@import './colours.scss';
@import './type.scss';

$spacing: 8px;


body {
    background: $brand-background-light;
    font-family: 'SplineSans', sans-serif;
    color: $brand-text;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    *, * > * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: $spacing*3 $spacing*2;
    background: linear-gradient($color-dream-yellow, $color-plus-white);
    background-size: cover;
    gap: 32px;

    @media (min-width: 768px) {
        padding: $spacing*5 $spacing*4;
    }

    .hero-elements {
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: $spacing*8 0;

        @media (min-width: 768px) {
            flex-direction: row;
            gap: 32px;

            img.hero-img {
                width: 50%;
            }
        
            .header-text {
                width: 50%;
            }
        }
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 100%;

        svg {
            height: 32px;

            @media (min-width: 768px) {
                height: 40px;
            }
        }
    }

    
    .header-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        gap: 16px;
        
        h1 {
            @include heading3;
            font-weight: 500;
            
            background: linear-gradient(125deg, $brand-text, $brand-body);
            background-clip: text;
            color: transparent;
            
        }
        
        span {
            @include body;
            
        }
        
        .button {
            background: $brand-main;
            color: $color-plus-white;

            &:hover {
                color: $brand-main;
            }
        }
    }
    
}

main {
    display: flex;
    flex-direction: column;
    gap: 64px;

    section {
        padding: 64px 24px;

        @media (min-width: 768px) {
            padding: 128px 32px;
        }
    }
}

.main-content {
    max-width: 1152px;
    width: 100%;
    margin: auto;

    &.content-list {
        display: flex;
        flex-direction: column;
        gap: 32px;
        max-width: calc(1152px + 64px);

        @media (min-width: 768px) {
            gap: 64px;
        }
    }

    .content-card {
        display: flex;
        gap: 32px;
        min-height: 440px;

        @media (max-width: 767px) {
            flex-direction: column;
        }

        @media (min-width: 768px) {
            padding: 48px;
            gap: 48px;

            &:nth-of-type(2n) {
                flex-direction: row-reverse;
            }
        }

        .content-image {
            padding: 16px;
            flex: 1;
            position: relative;
            display: block;
            z-index: 2;

            img {
                object-fit: contain;
                object-position: center;
                width: 100%;
                height: 100%;
            }

            @media (min-width: 768px) {
                flex: 1 50%;
            }
        }
    }
}

.content-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 16px;
    flex: 1 50%;

    span {
        color: desaturate(lighten($brand-text, 50%), 70%);
        font-size: 14px;
    }
}

.content-row {
    padding: 48px 24px;
    max-width: 1216px;

    @media (min-width: 1024px) {
        padding: 96px 64px;
    }

    .section-title {
        text-align: center;
    }

    h4 {
        text-align: center;

        span {
            background: linear-gradient(45deg, $color-light-blue, $color-light-green);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.stats-items {
    list-style: none;
    margin: 0;
    padding: 48px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;

    li {
        flex: 1;
        text-align: center;
        
        .number {
            font-size: 96px;
            line-height: 112px;
            color: $color-dark-blue;
            margin-bottom: 16px;
        }
    }

    @media (min-width: 768px) {
        flex-direction: row;
    }
}

.contrast-row {
    background: $brand-text;
    color: $brand-text-light;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 32px;
    align-items: stretch;
    justify-content: center;

    .section-title {
        text-align: center;

        h5 {
            font-weight: 400;
            color: $gray-lightest;
        }
    }

    h2 {
        @include heading3;

        margin-bottom: 12px;

        @media (min-width: 960px) {
            @include heading2;
        }
    }
    
    .main-content {
        display: flex;
        gap: 24px;
        flex-direction: column;
        width: 100%;
        max-width: 1152px;

        @media (min-width: 960px) {
            flex-wrap: wrap;
        }
    }

    .content-list {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 48px;

        li {
            display: flex;
            flex-direction: column-reverse;
            text-align: left;
            justify-content: space-between;
            align-items: center;
            padding: 64px 0;
            gap: 32px;

            .list-text {

                @media (min-width: 800px) {
                    flex: 1 50%;
                }
            }

            h5 {
                margin-bottom: 16px;
            }

            .list-image {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                @media (min-width: 800px) {
                    width: 50%;
                }

                img {
                    max-width: 100%;
                    opacity: 90%;
                }
            }

            p {
                font-size: 16px;
                color: $color-grays-light;
            }

            @media (min-width: 800px) {
                flex-direction: row;
                gap: 64px;

                &:nth-child(2n) {
                    flex-direction: row-reverse;
                }
            }
        }
    }

    .cta-section {
        padding: 64px 0 0;
        border-top: 1px solid $color-grays-medium;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 16px;

        .button {
            background: $color-dream-yellow;
            color: $color-wallstreet-black;
        }
    }

    .contrast-item {
        background: $brand-main;
        flex: 1;
        border-radius: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 32px;
        padding: 24px;
        min-height: 360px;
        position: relative;
        background: linear-gradient(#59E0FF,#07A0C3);
        transition: box-shadow .2s ease;

        &:hover {
            box-shadow: 0 0 24px 12px rgba(89, 224, 255, .5);
        }

        & > * {
            position: relative;
            z-index: 2;
        }

        img {
            width: 64px;
            height: 64px;
        }

        span {
            color: #59E0FF;
            margin-bottom: 8px;
            font-weight: 600;
            font-size: 16px;
            display: block;
        }

        &:nth-child(2) {
            background: linear-gradient(#FFA6A6,#F67E7D);

            &:hover {
                box-shadow: 0 0 24px 12px rgba(255, 166, 166, .5);
            }

            span {
                color: #FFA6A6;
            }
        }

        &:nth-child(3) {
            background: linear-gradient(#77D9CD,#64B6AC);

            &:hover {
                box-shadow: 0 0 24px 12px rgba(119, 217, 205, .5);
            }

            span {
                color: #77D9CD;
            }
        }

        h4 {
            color: white;
            font-weight: 500;

            @media (min-width: 960px) {
                @include heading3;
            }
        }

        p {
            color: $gray-lightest;
            max-width: 500px;
        }

        &:after {
            content: '';
            display: block;
            background: $brand-main;
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            position: absolute;
            left: 1px;
            top: 1px;
            border-radius: 31px;
        }
    }
}

.contact-box {
    padding: 32px 16px;
    display: flex;

    h4 {
        margin-bottom: 12px;
    }

    article {
        background: $brand-background;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 24px;
        flex: 1;
        border-radius: 24px;
        padding: 96px 32px;
    }
}

footer {
    padding: 24px;
    text-align: center;
    color: $brand-main;
}

.contrast-row .content-list.brand-partner li {
    padding: 24px 0;

    @media (max-width: 799px) {
        flex-direction: column-reverse;
        padding: 32px 0;
    }
}

.brand-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    padding: 24px;
    width: 100%;
    
    @media (min-width: 900px) {
        width: 50%;
    }

    img {
        width: 96px;
        height: 96px;
    }
}

.tabs {
    position: relative;  
    display: flex;
    justify-content: center; 
    gap: 8px;
    min-height: 500px; /* This part sucks */
    margin: 56px 0;
    flex-wrap: wrap;

    @media (min-width: 600px) {
        gap: 24px;
        min-height: 400px;
    }

    @media (max-width: 800px) {
        min-height: 100px;
        margin: 56px 0 540px;
    }
  }

  .tab label {
    background: $color-lisa-yellow; 
    padding: 12px 24px; 
    border-radius: 32px;  
    position: relative;
    display: block;
    flex: 1;

    @media (min-width: 600px) {
        display: inline;
        width: auto;
    }
  }

  .tab [type=radio] {
    display: none;   
  }

  .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    top: 160px;
    left: 0;
    height: 540px;
    background: $color-dream-yellow;
    border-radius: 32px;
    box-shadow: inset 0 0 0 1px $color-wallstreet-black;
    right: 0;
    padding: 48px 32px;

    @media (min-width: 750px) {
        top: 112px;
        height: 440px;
    }

    @media (min-width: 800px) {
        padding: 96px 64px;
        top: 48px;
        height: 360px;
    }
  }
  
  [type=radio]:checked ~ label {
    background: $color-dream-yellow;
    box-shadow: inset 0 0 0 1px $color-wallstreet-black;
    z-index: 2;
  }
  [type=radio]:checked ~ label ~ .content {
    z-index: 1;
  }

  .final-cta {
        background: linear-gradient($color-plus-white, $color-dream-yellow);
        padding: 24px;

        .cta-container {
            background: $color-performa-black url('/src/img/call-bg-light.svg') no-repeat 50%;
            background-size: cover;
            padding: 48px 32px;
            border-radius: 32px;
            text-align: center;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 24px;
            color: $color-plus-white;

            p {
                color: $gray-lightest;
            }

            @media (min-width: 800px) {
                padding: 96px 64px;
            }
        }
  }