---
import Layout from '../layouts/Layout.astro';

import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import Button from '../components/Button.astro';

import "../styles/main.scss";

import fourfourdreamie from '/src/img/404.png';

---

<Layout title="Dream - 404, Page Not Found">
    <Navigation />
    <header>
		<div class="hero-elements main-content">
			<section class="header-text solo-header">
                <img src={fourfourdreamie.src} alt="A confused little person who can't find something" role="presentation">
				<h1 class="page-title">404</h1>
                <span class="subtitle">Our AI employees can do amazing things, but they couldn't find the page you're looking for.</span>
                <Button 
                    variant='primary'
                    href='/'
                    label=""
                    target="_self"
                    size="medium"
                >
                    Return to the home page
                </Button>
			</section>
		</div>
	</header>
    <Footer />
</Layout>
