---
import Layout from '../layouts/Layout.astro';

import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

---

<Layout title="ADD TITLE">
	<Navigation />
	<header class="hero-home">
		<div class="hero-elements main-content">
			<section class="header-text content-title">
				<h1 class="page-title">Community</h1>
				<span>Find out how people like you are growing their dreams.</span>
			</section>
		</div>
	</header>
	<main>
		<section class="main-content">
				
		</section>
	</main>
	<Footer />
</Layout>