---
import Layout from '../layouts/Layout.astro';

import Button from '../components/Button.astro';
import Navigation from '../components/Navigation.astro';
import MessageSelector from  '../components/MessageSelector.astro';

import arrowRightDark from "/src/img/arrow-right-dark.svg";

import "../styles/main.scss";
---

<Layout title="With Dream’s End-to-end SDRs all you have to do is take the call">
    <Navigation />
	<header>
		<div class="hero-elements main-content">
			<section class="header-text ">
				<h1 class="page-title">With Dream’s End-to-end SDRs <br />all you have to do is take the call</h1>
				<span>From discovery to booking, automate your whole process with Dream. Our sales agents deliver on every step, meaning you're not just working faster, but better.</span>
			</section>
		</div>
	</header>
	<main>
        <section class="content-list">
            <article class="sequence-section main-content">
                <div class="sequence-item">
                    <div class="sequence-title">
                        <aside>Sourcing</aside>    
                        <h4>Deep target lists from multiple sources, all in one place</h4>
                        <div class="sequence-content">
                            <div class="sequence-text">
                                <p>Dream’s sourcing agents uses advanced search techniques to find more companies, faster.</p>
                                <p>Use multiple search types to find companies. Search by criteria like company size and location, or go deeper and explore based on signals like hiring, announcements, and news.</p>
                                <p>Easily import your own lists, or connect your CRM to automate target ingestion. Enhance them with extra data sources to have all your information in one place.</p>
                            </div>
                            <img class="sequence-img" alt="" role="presentation"/> 
                        </div>
                    </div>    
                </div>        
                <div class="sequence-item">
                    <div class="sequence-title">
                        <aside>Research</aside>    
                        <h4>Add data from anywhere, then use it to drive actions</h4>
                        <div class="sequence-content">
                            <div class="sequence-text">
                                <p>Enrich your lists with data from anywhere. Ask your research agents questions about your target companies, or add your own data fields with custom information. </p>
                                <p>Add complex data within minutes, with full control over the format and content. Set triggers in your lists to ensure your messages land when prospects want to buy.</p>
                                <p>Dream isn’t just a library of information. Everything you add gives your agents more context to make better decisions, send better messages, and sell better. </p>
                            </div>
                            <img class="sequence-img" alt="" role="presentation"/> 
                        </div>
                    </div>    
                </div>           
                <div class="sequence-item">
                    <div class="sequence-title">
                        <aside>Prospecting</aside>    
                        <h4>Use context-driven search to reach people, not just inboxes</h4>
                        <div class="sequence-content">
                            <div class="sequence-text">
                                <p>The best message in the world doesn’t matter if it goes to the wrong person. Dream’s prospecting agents use your context to find the person best suited for your message. </p>
                                <p>Use search sequences to make sure you never miss a prospect. Set up multiple search sources in one pass, and Dream will use your context to rank them. </p>
                                <p>Your research is your key - search against datapoints you’ve created to find relevant people. Need to find the hiring manager for open roles, or someone mentioned in an article. Dream can do that. </p>
                            </div>
                            <img class="sequence-img" alt="" role="presentation"/> 
                        </div>
                    </div>    
                </div>    
                <div class="sequence-item">
                    <div class="sequence-title">
                        <aside>Messaging</aside>    
                        <h4>The best message you (n)ever wrote</h4>
                        <div class="sequence-content">
                            <div class="sequence-text">
                                <p>The core of a good campaign is your message. What it says, when it arrives, and who it reaches. Compared to Gen 1.0 sales agents that relied on simple customisation, Dream uses deeper personalisation to match every message to its recipient.</p>
                                <p>You have full control over your messages. Use research to inform your prompts, then review and edit the output. Or use your existing templates and tap into Dream’s customisation. </p>
                                <p>Testing a new market? Dream can hold conversations in 40+ languages, letting you test the waters on expansion or driving growth where you’re doing well.</p>
                            </div>
                            <img class="sequence-img" alt="" role="presentation"/> 
                        </div>
                    </div>    
                </div>        
                <div class="sequence-item">
                    <div class="sequence-title">
                        <aside>Pre-call & Admin</aside>    
                        <h4>Spend more time on selling, less on pre-call admin</h4>
                        <div class="sequence-content">
                            <div class="sequence-text">
                                <p>Let your sales team spend more time on calls & closing deals, Dream takes on the time-consuming work of answering questions and booking meetings. You can review all communication with a prospect beforehand to see what drove their interest.</p>
                                <p>If your agents have to escalate it’s shared directly to the channels you use most - letting you take action directly through apps like Slack. Notes are posted automatically to your CRM.</p>
                            </div>
                            <img class="sequence-img" alt="" role="presentation"/> 
                        </div>
                    </div>    
                </div>                  
            </article>
        </section>
	</main>
	<section class="final-cta">
		<article class="main-content cta-container">
			<h3>Accelerate your sales, maximise conversion, with instant ramp-up</h3>
			<p>Get your sales running on autopilot. Start using Dream today.</p>
			<Button 	
							label="Book your demo"
							href="https://calendly.com/cgdcowley/discovery-call-dream" 
							target="_blank"
						><img src={arrowRightDark.src} role="presentation" alt="" loading="lazy"/></Button> 
		</article>
		<footer><small>Copyright Dream 2024</small> <small><a href="/privacy">Privacy Policy</a></small></footer>
	</section>
</Layout>