---
import Layout from '../layouts/Layout.astro';

import Button from '../components/Button.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

import "../styles/main.scss";
---

<Layout title="Dream - Just a call gets you started">
    <Navigation />
	<header class="hero-home solo-header">
		<div class="hero-elements main-content">
			<section class="header-text">
				<h1 class="page-title">Get started with Dream</h1>
			</section>
		</div>
	</header>
	<main>

	</main>
	
    <Footer />
</Layout>