---
import Layout from '../layouts/Layout.astro';

import Button from '../components/Button.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';

import whatsAppIcon from '/src/img/whats-app-icon.svg';
import phoneIcon from '/src/img/phone-call.svg';

import "../styles/main.scss";

import howWorksHero from '/src/img/how-works-hero.png';

import Carousel from '../components/Carousel.astro';

import card1 from '/src/img/how-works-1.png';
import card2 from '/src/img/how-works-2.png';
import card3 from '/src/img/how-works-3.png';
import card4 from '/src/img/how-works-4.png';

import HireGuyBlock from '../components/HireGuyBlock.astro';

const contentBlocks = [
  {
    image: card1,
    title: 'Give your Dreamies a task and they’ll research and plan it themselves. No more micromanaging.',
    subtitle: 'It takes minutes',
    ctaText: 'Get started now',
    ctaUrl: '/get-started',
  },
  {
    image: card2,
    title: 'Automate your workload by asking. No complicated templates or apps to learn.',
    subtitle: 'It takes minutes',
    ctaText: 'Get started now',
    ctaUrl: '/get-started',
  },
  {
    image: card3,
    title: 'Work at the speed of your voice. Send voice notes or call your Dreamies for any kind of work.',
    subtitle: 'It takes minutes',
    ctaText: 'Get started now',
    ctaUrl: '/get-started',
  },
  {
    image: card4,
    title: 'Your Dreamies have their own email, so they can arrange meetings, coordinate travel and more.',
    subtitle: 'It takes minutes',
    ctaText: 'Get started now',
    ctaUrl: '/get-started',
  },
];

---

<Layout title="Dream - How does it work?">
    <Navigation />
	<header class="hero-home solo-header">
		<div class="hero-elements main-content">
                <img 
                  src={howWorksHero.src} 
                  alt="" 
                  class="dreamie-img" 
                  aria-hidden="true" 
                />
			<section class="header-text content-title">
				<h1 class="page-title">AI employees that put the <br/><span class="highlight-title">&lsquo;pro&rsquo; in proactive</span></h1>
				<p>We built Dream’s employees to think and work like real people.<br/>
                They make plans, and get on with work; sending you updates as the go.</p>
			</section>
		</div>
	</header>
	<main class="pinch-footer">
		<section class="main-content contrast-container">
			<article class="content-container">
				<div class="content-title">
                    <h2>You’ll get bored of saying <br/><span class="highlight-title">&ldquo;wow... did it just do that!&rdquo;</span></h2>
                    <p>Dream isn’t another app to learn, it’s AI made for real people. <br/>
                        We’ve taken the best parts of cutting-edge tech, and built it to be magical.</p>
                  </div>
                  <table class="how-works-table">
                    <thead>
                      <tr>
                        <th scope="col">AI tools</th>
                        <th scope="col">vs</th>
                        <th scope="col">Dream AI employees</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Need prompted to keep performing tasks.</td>
                        <td></td>
                        <td>Work on things by themselves and make decisions about next steps.</td>
                      </tr>
                      <tr>
                        <td>Can’t talk to the outside world — they write the email, but you need to send it.</td>
                        <td></td>
                        <td>Fully connected, so they can research restaurants, shortlist, then call to book.</td>
                      </tr>
                      <tr>
                        <td>Complicated apps to learn. If you’re not logged in you’ll miss something important.</td>
                        <td></td>
                        <td>Chat on WhatsApp, Phone, or on the app. Never miss an important update.</td>
                      </tr>
                    </tbody>
                  </table>
                  
			</article>
		</section>
        <section class="main-content">
            <article class="content-container full-width">
              <div class="content-title">
                <h2>Smart employees, <br/>Meet <span class="highlight-title">powerful tools</span></h2>
                <p>Dream’s AI employees use some of the most advanced technology on the planet, but we made them even better by giving them custom tools so they can work smarter and faster.</p>
              </div>
              <Carousel items={contentBlocks} />
            </article>
          </section>
          <HireGuyBlock />
	</main>
	
    <Footer />
</Layout>