---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ContentCard from '../components/ContentCard.astro';

import Logo from '../components/Logo.astro';
import Button from '../components/Button.astro';

import "../styles/main.scss";
---

<Layout title="Get started with Dream and build your pipeline.">
	<header>
		<nav>
			<Logo />
			<Button 	
				label="Get started"
				href="https://getdream.ai" 
			/>
		</nav>
		<section class="header-text main-content">
			<h1 class="page-title">The AI SDR that <br />doesn't sound like AI</h1>
			<span>Accelerate your sales without compromising on quality. Start using Dream today.</span>
			<Button 	
				label="Get started with Dream"
				href="https://getdream.ai" 
			/>
		</section>
	</header>
	<main>
		<section class="main-content content-list">
			<ContentCard>
				<div class="content-image"><img src="src/img/promo-block-1.png" alt="An illustration showing that Dream's SDRs pull in personal context, company research, and contextual triggers to make great decisions"/></div>
				<div class="content-text">
					<span>Built better</span>
					<h4>Meet your new SDR. They've got the same high standards as you.</h4>
					<p>When was the last time you hired someone that didn't meet your quality bar?</p> <p>Then why should you accept anything less from an AI. Dream wins you more business, faster - without sending spammy junk. Great news for you, great news for your prospects.</p>
				</div>
			</ContentCard>
			<ContentCard>
				<div class="content-image"><img src="src/img/promo-block-2.png" alt="A representation of the three agents in Dream; List Builder, Analyst, and SDR"/></div>
				<div class="content-text">
					<span>Experienced team</span>
					<h4>Built by people who've actually done sales.</h4>
					<p>Our technology isn't just a fancy demo. Our tool was made by people who've been on the front lines of selling, and know how it works.</p> <p> We've honed our approach by speaking to people like you, so it's full of features you'll actually use.</p>
				</div>
			</ContentCard>
			<ContentCard>
				<div class="content-image"><img src="src/img/promo-block-3.png" alt="Abstract UI showing an Autopilot button covering stats about calls booked and success."/></div>
				<div class="content-text">
					<span>Better every day</span>
					<h4>This will change the way you work.</h4>
					<p>You've heard it before, but we mean what we say.</p> <p> Dream will unlock growth you've only ever dreamt about - get it? Our AI platform builds context as you use it, learning and growing just like you do.</p>
				</div>
			</ContentCard>
		</section>
		<section class="contrast-row">
			<div class="section-title">
				<h2>Powerful agents that collaborate seamlessly</h2>
				<h5>Your Dream sales team is made to work together</h5>
			</div>
			<div class="main-content">
				<div class="contrast-item">
					<span>List Builder</span>
					<img src="src/img/list-builder.svg" role="presentation">
					<h4>Find better prospects, faster</h4>
					<p>Source prospects 24/7. Dream's smart List Builder uses your context and filters to generate high-quality lists for your SDRs. Bring your own, or let Dream find them for you.</p>
				</div>
				<div class="contrast-item">
					<span>Analyst</span>
					<img src="src/img/analyst.svg" role="presentation">
					<h4>Research that drives action</h4>
					<p>Selling isn't just about the message, it's about the timing. Dream's analyst takes your triggers and builds its own research to make sure your message lands at the right time.</p>
				</div>
				<div class="contrast-item">
					<span>SDR</span>
					<img src="src/img/SDRs.svg" role="presentation">
					<h4>Yes, it's AI - but you won't be sure</h4>
					<p>We've built an SDR that aims to know you better than you know yourself; so it doesn't just write emails, it builds connections between you and your prospects.</p>
				</div>
			</div>
		</section>
		<section class="contact-box">
			<article class="main-content">
				<h4>Start working with your Dream sales team</h4>
				<span>Schedule your call to find out how Dream can accelerate your sales</span>
				<Button 	
					label="Get started with Dream"
					href="https://getdream.ai" 
				/>
			</article>
		</section>
	</main>
	<footer><small>Copyright Dream 2024</small></footer>
</Layout>