---
import Layout from '../layouts/Layout.astro';

import Logo from '../components/Logo.astro';
import "../styles/main.scss";
---

<Layout title="Dream Privacy Policy">
    <header>
		<nav>
			<Logo />
		</nav>
		<div class="hero-elements main-content">
			<section class="header-text ">
				<h1 class="page-title">Privacy Policy</h1>
			</section>
		</div>
	</header>
    <main>
		<section class="main-content policy">
            <h2>Introduction</h2>

            <p>We are Dream (referred to as "Dream", "we", "us" or "our" in this privacy policy). This policy sets out the basis on which any personal data we collect will be processed by us as a data controller. We act as a data controller when we determine how and why personal data is processed (e.g., when you make contact with us via our website). In this privacy policy, references to 'you' or 'your' refer to you as an individual.</p>
        
            <p>Please read this privacy policy carefully to understand our views and practices and your rights regarding your personal data. By visiting our website, using our services, or otherwise providing us with your personal information, it will be processed as described in this policy.</p>
        
            <h2>Information We Collect from You</h2>
        
            <p>Personal data, or personal information, means any information about an individual from which that person can be identified.</p>
        
            <p>We will collect and process the following data about you:</p>
        
            <ul>
                <li><strong>Information you give us:</strong> This is information about you that you provide by filling in forms on our site, or by corresponding with us by phone, email, or otherwise. The information you give us may include your name, job title, address, email address, and phone number. We will also collect any relevant financial information to facilitate payment.</li>
                <li><strong>Information we collect from your use of our website and services:</strong> With regard to each of your visits to our site, we will automatically collect the following information and may use cookies or similar technologies to do so:
                    <ul>
                        <li><strong>Technical information:</strong> Such as the Internet protocol (IP) address used to connect your device to the Internet, your ISP, your operating system, the website that referred you to us, and the website you visit after ours, as well as the type of device you are using to access our service.</li>
                        <li><strong>Analytics information:</strong> Such as which parts of our services or website you access and interact with, and any referring sites that directed you to our website.</li>
                    </ul>
                </li>
            </ul>
        
            <h2>Why We Collect This Information</h2>
        
            <p>We process your personal information for the following reasons:</p>
        
            <ul>
                <li><strong>Pursuant to a contract, in order to:</strong>
                    <ul>
                        <li>Process payments;</li>
                        <li>Resolve service issues; and</li>
                        <li>Send service communications so that you receive a full and functional service, and so we can perform our obligations to you.</li>
                    </ul>
                </li>
                <li><strong>On the basis of your consent:</strong>
                    <ul>
                        <li>We will contact you with direct marketing communications if you consent to us doing so, and you have the right to withdraw consent at any time. See the "What Are Your Rights?" section below for more information.</li>
                    </ul>
                </li>
                <li><strong>In our legitimate interests of providing the best services to you and improving and growing our business, we will process data for the purpose of:</strong>
                    <ul>
                        <li>Providing you with a personalized service;</li>
                        <li>Improving our website and services;</li>
                        <li>Keeping our site and systems safe and secure;</li>
                        <li>Understanding the effectiveness of our marketing;</li>
                        <li>Understanding market trends; and</li>
                        <li>Defending against or exercising legal claims and investigating complaints.</li>
                    </ul>
                </li>
                <li><strong>To comply with legal requirements related to:</strong>
                    <ul>
                        <li>Data protection;</li>
                        <li>Anti-money laundering or fraud;</li>
                        <li>Health and safety;</li>
                        <li>Assisting law enforcement; and</li>
                        <li>Any other legal obligations placed on us from time to time.</li>
                    </ul>
                </li>
                <li>We DO NOT use your information, including that shared through Google Workspace APIs to develop, improve, or train generalized/ non-personalized AI and/or ML models.</li>
                <li>We DO NOT use your information to train any AI and/or ML models.</li>
            </ul>
        
            <h2>How Long We Keep Your Information</h2>
        
            <p>We will only keep your personal data for as long as necessary to fulfill the purposes we collected it for, including to satisfy any applicable legal, regulatory, tax, accounting, or reporting requirements. In the event of a complaint or if there is a prospect of litigation regarding our relationship or dealings with you, we may retain your personal data for a longer period.</p>
        
            <p>To determine the appropriate retention period for personal data, we consider the amount, nature, and sensitivity of the personal data, the potential risk of harm from unauthorized use or disclosure of your personal data, the purposes for which we process your personal data (and whether we can achieve those purposes through other means), and the applicable legal, regulatory, tax, accounting, or other requirements. Personal data is not typically stored for longer than 6 years after the end of our relationship with you.</p>
        
            <h2>Who We Share This Information With</h2>
        
            <p>For the purposes set out in the "Why We Collect This Information?" section above, we will share your personal information with the following categories of third parties, some of whom we appoint to provide services, including:</p>
        
            <ul>
                <li><strong>Suppliers and sub-contractors</strong> for the performance of any contract we enter into with you. This includes service providers who provide IT and system administration services and IT service providers we use to host or maintain our website and digital services;</li>
                <li><strong>Analytics providers</strong> that assist us in the improvement and optimization of our website and service; and</li>
                <li><strong>Service providers</strong> who provide marketing services or CRM (customer relationship management) software.</li>
            </ul>
        
            <p>Additionally, we will disclose your personal information to a third party:</p>
        
            <ul>
                <li>If we are acquired by a third party, in which case personal data held by us about our customers will be one of the transferred assets.</li>
                <li>If we are under a duty to disclose or share your personal data in order to comply with any legal obligation, or in order to enforce or apply our terms of use and other agreements; or to protect the rights, property, or safety of our customers, our regulator, or others.</li>
            </ul>
        
            <h2>How Your Data Is Stored and Secured</h2>
        
            <p>At Dream, we take your safety and security very seriously, and we are committed to protecting your personal and financial information. All data collected will be protected by suitable security procedures. Once we have received your information, we will use strict procedures and security features to try to prevent unauthorized access.</p>
        
            <p>Where we have given you (or where you have chosen) a password that enables you to access certain parts of our website or service, you are responsible for keeping this password confidential. We ask you not to share a password with anyone.</p>
        
            <h2>International Transfers</h2>
        
            <p>Some of our external third parties may be based outside the UK, so their processing of your personal data may involve a transfer outside the UK.</p>
        
            <p>When we transfer your personal data outside the UK, we will ensure that adequate protection measures are in place in compliance with data protection legislation. More information is available by contacting us.</p>
        
            <h2>What Are Your Rights?</h2>
        
            <p>Where processing of your personal data is based on consent, you can withdraw that consent at any time.</p>
        
            <p>You have the following rights. You can exercise these rights at any time by emailing us at [Insert Email Address]. You have the right to:</p>
        
            <ul>
                <li>Withdraw consent, where personal data is processed on the basis of your consent;</li>
                <li>Ask us not to process your personal data for marketing purposes. We will inform you (before collecting your data) if we intend to use your data for such purposes;</li>
                <li>Ask us not to process your personal data where it is processed on the basis of legitimate interests, provided that there are no compelling reasons for that processing;</li>
                <li>Ask us not to process your personal data for scientific or historical research purposes, where relevant, unless the processing is necessary in the public interest;</li>
                <li>Request from us access to personal information held about you;</li>
                <li>Ask for the information we hold about you to be rectified if it is inaccurate or incomplete;</li>
                <li>Ask for data to be erased, provided that:
                    <ul>
                        <li>The personal data is no longer necessary for the purposes for which it was collected;</li>
                        <li>You withdraw consent (if the legal basis for processing is consent);</li>
                        <li>You exercise your right to object, set out below, and there are no overriding legitimate grounds for processing;</li>
                        <li>The data is unlawfully processed;</li>
                        <li>The data needs to be erased to comply with a legal obligation or the data is children's data and was collected in relation to an offer of information society services;</li>
                    </ul>
                </li>
                <li>Ask for the processing of that information to be restricted if the accuracy of that data is contested, the processing is unlawful, the personal data is no longer necessary for the purposes for which it was collected, or you exercise your right to object (pending verification of whether there are legitimate grounds for processing); and</li>
                <li>Ask for data portability if the processing is carried out by automated means and the legal basis for processing is consent or contract.</li>
            </ul>
        
            <p>In the event that you are not satisfied with our processing of your personal data, you have the right to lodge a complaint with the relevant supervisory authority at any time.</p>
        
            <h2>Cookies</h2>
        
            <p>We use cookies and similar technologies to distinguish you from other users of our site. This helps us to provide you with a good experience when you use our site.</p>
        
            <p>Cookies can be controlled by any tools we make available on our site or by your web browser settings. Please be aware that by blocking all cookies, you may not be able to access or use all the features of our website, and you will not receive a personalized service.</p>
        
            <h2>Changes to This Privacy Policy</h2>
        
            <p>This policy may be updated from time to time. Please check back frequently to see any updates or changes to our privacy policy. This policy was last updated on August 28, 2024.</p>
        </section>
    </main>
    <footer><small>Copyright Dream 2024</small> <small><a href="/privacy">Privacy Policy</a></small></footer>
</Layout>
