---
import Layout from '../../layouts/Layout.astro';

import Navigation from '../../components/Navigation.astro';
import Footer from '../../components/Footer.astro';

import dots from '/src/img/dots.svg';

import prospectExample from '/src/img/prospecting-sample.png';
import searchStack from '/src/img/search-stack.png';

---

<Layout title="Dream - Prospecting">
	<Navigation />
	<header class="hero-home">
		<div class="hero-elements main-content">
			<section class="header-text">
				<small class="tag">How we do it / Prospecting</small>
				<h1 class="page-title">Find the right <span>person</span>, for the right <span>message</span>.</h1>
				<span>Dream gives you all the tools to find the right prospect to target. We'll automatically research them, pulling in all contact information, and giving you a relevance score to understand the perfect person for your perfect message.</span>
			</section>
			<section class="header-image">
				<object data={dots.src} />
			</section>
		</div>
	</header>
	<main>
		<section class="main-content">
			<article class="content-container">
				<h4>Prospect the perfect person, no matter the market</h4>
				<div class="tools-section">
					<div class="tools-grid">
						<div class="tool-container">
							<div class="tool-card">
								<div class="tool-content"> 
									<p>Finding the right person to target is a complex task - navigating job titles, company structures, or even just finding contact details.</p>
									<p>Dream can determine who the best stakeholders are for you to target. We pull in their profiles automatically, adding contact information, letting you start to run intelligently crafted outreach directly to the key people.</p>
									<p>No prospect, no problem. Define a search stack and we'll use different methods until we find a suitable prospect. Add generic contact options as a fallback, and you'll never miss an opportunity to outreach.</p>
								</div> 
							</div>
							<div class="tool-image">
								<img src={prospectExample.src} alt="An illustration of two research questions over a table of results" />
							</div>
						</div>
					</div>
				</div>
			</article>
		</section>
		<section class="main-content">
			<article class="content-container">
				<h4>Use context-driven search to reach people, not just inboxes</h4>
				<div class="content-pair">
					<ul class="feature-list text-content">
						<li>Identify key prospects with relevance scoring, so your message lands in the right place.</li>
						<li>Use AI-powered prospect searches and go beyond simple job titles.</li>
						<li>Dream understands company structures and hierarchy, no need to list every variant of 'VP of Sales'.</li>
						<li>Localised searching means you can prospect companies around the world without needing to learn a new language.</li>
						<li>Define custom search stacks, and find all your key prospects in one go.</li>
						<li>Automatically pull in new prospects when your lists update, so your campaigns can run on autopilot.</li>
					</ul>
					<div class="image-content">
						<img src={searchStack.src} alt="An example of different search types for hotels and F&B">
					</div>
				</div>
			</article>
		</section>
	</main>
	<Footer />
</Layout>