---
import Layout from '../../layouts/Layout.astro';

import Button from '../../components/Button.astro';
import Navigation from '../../components/Navigation.astro';
import Footer from '../../components/Footer.astro';

import arrowRightDark from "/src/img/arrow-right-dark.svg";

import "../../styles/main.scss";
---

<Layout title="Dream - Automated growth for companies that hate spam">
    <Navigation />
	<header>
		<div class="hero-elements main-content">
			<section class="header-text ">
                <small class="tag"><a href="/resources/">Resources</a></small>
				<h1 class="page-title">Using Dream for List Building</h1>
				<span>Find out how Dream can support you prospecting and searching for companies.</span>
			</section>
		</div>
	</header>
	<main>
		<section class="main-content content-row guides-content">
            <article>
                <h2>Prospect Search</h2>
            <p>This guide covers adding prospects to a campaign based on job title, and optionally their location.</p>
            <p>You'll see how Dream uses AI to find common variations for job title, and how our relevance scoring helps you understand the most impactful prospects in your campaign.</p>
			<div style="position: relative; box-sizing: content-box; max-height: 80vh; max-height: 80svh; width: 100%; aspect-ratio: 1.7733990147783252; padding: 40px 0 40px 0;"><iframe src="https://app.supademo.com/embed/cm1jfipvt3gsdououardauamb?embed_v=2" loading="lazy" title="Dream: Adding prospects" allow="clipboard-write" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
            </article>
        </section>
	</main>
	<section class="final-cta">
		<article class="main-content cta-container">
			<h3>Accelerate your sales, maximise conversion, with instant ramp-up</h3>
			<p>Get your sales running on autopilot. Start using Dream today.</p>
			<Button 	
							label="Book your demo"
							href="/book-demo" 
							target="_blank"
						><img src={arrowRightDark.src} role="presentation" alt="" loading="lazy"/></Button> 
		</article>
	</section>
    <Footer />
</Layout>