---
import Layout from '../../layouts/Layout.astro';

import Button from '../../components/Button.astro';
import Navigation from '../../components/Navigation.astro';
import Footer from '../../components/Footer.astro';
import Logo from '../../components/Logo.astro';

import arrowRightDark from "/src/img/arrow-right-dark.svg";

import "../../styles/main.scss";
---

<Layout title="Target the right company, at the right time, with the right message">
    <Navigation />
	<header>
        <Logo />
		<div class="hero-elements main-content">
			<section class="header-text ">
                <small class="tag"><a href="/resources/">Resources</a></small>
				<h1 class="page-title">Using Dream for List Building</h1>
				<span>Find out how Dream can support you prospecting and searching for companies.</span>
			</section>
		</div>
	</header>
	<main>
		<section class="main-content content-row">
            <h2>Criteria Search</h2>
			<div style="position: relative; box-sizing: content-box; max-height: 80vh; max-height: 80svh; width: 100%; aspect-ratio: 1.7733990147783252; padding: 40px 0 40px 0; background: rgba(0,0,0,.1); border-radius: 8px;"><iframe src="https://app.supademo.com/embed/cm1dhbdkw1i6xouou1jsghcfb?embed_v=2" loading="lazy" title="Dream: Building Lists (Criteria Search)" allow="clipboard-write" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
            <h2>CSV Upload</h2>
            <div style="position: relative; box-sizing: content-box; max-height: 80vh; max-height: 80svh; width: 100%; aspect-ratio: 1.7733990147783252; padding: 40px 0 40px 0; background: rgba(0,0,0,.1); border-radius: 8px;"><iframe src="https://app.supademo.com/embed/cm1aunwfj11yhououhy4rvny1?embed_v=2" loading="lazy" title="Dream: Building Lists (Criteria Search)" allow="clipboard-write" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
        </section>
	</main>
	<section class="final-cta">
		<article class="main-content cta-container">
			<h3>Accelerate your sales, maximise conversion, with instant ramp-up</h3>
			<p>Get your sales running on autopilot. Start using Dream today.</p>
			<Button 	
							label="Book your demo"
							href="https://calendly.com/cgdcowley/discovery-call-dream" 
							target="_blank"
						><img src={arrowRightDark.src} role="presentation" alt="" loading="lazy"/></Button> 
		</article>
	</section>
    <Footer />
</Layout>