---
import Layout from '../../layouts/Layout.astro';

import Navigation from '../../components/Navigation.astro';
import Footer from '../../components/Footer.astro';

import Button from '../../components/Button.astro';


import arrowRightLight from "/src/img/arrow-right-white.svg";


import healthcare from '/src/img/industry-healthcare.jpg';
import fb from '/src/img/industry-fb.jpg';
import travel from '/src/img/industry-travel.jpg';
import techComp from '/src/img/tech-comp.jpg';


---

<Layout title="Dream - What We Do">
	<Navigation />
	<header class="hero-home">
		<div class="hero-elements main-content">
			<section class="header-text solo-header">
				<h1 class="page-title">The AI platform <br />
					built to accelerate your <span>growth</span></h1>
			</section>
		</div>
	</header>
	<main>
		<section class="main-content">
				<article class="content-container">
					<div class="section-title">
						<h3>Solutions by Industry</h3>
						<p>Combining features and expertise, we've tailored our platform to the challenges you encounter every day. Find out how we can support your industry.</p>
					</div>
					<section class="info-grid fancy-grid" style="padding-top: 12px;">
						<!-- Box 1 -->
						<a href="/what-we-do/by-industry/travel" class="info-box" aria-label="">
						  <span class="info-tag">By Industry</span>
						  <h3>Travel</h3>
						  <span class="read-more">Explore what we can do</span>
						  <img src={travel.src} alt="" role="presentation" >
						</a>
					  
						<!-- Box 2 -->
						<a href="/what-we-do/by-industry/hospitality" class="info-box" aria-label="">
						  <span class="info-tag">By Industry</span>
						  <h3>Technology Companies</h3>
						  <span class="read-more">Explore what we can do</span>
						  <img src={techComp.src} alt="" role="presentation" >
						</a>
			
						  <!-- Box 4 -->
						<a href="/what-we-do/by-industry/f-and-b" class="info-box" aria-label="">
							<span class="info-tag">By Industry</span>
							<h3>Food & Beverage</h3>
							<span class="read-more">Explore what we can do</span>
							<img src={fb.src} alt="" role="presentation" >
						  </a>
			
						</section>
				</article>
				
				<article class="content-container">
					<div class="section-title">
						<h3>Solutions by Use Case</h3>
						<p>Power your entire go-to-market process with Dream. Our platform supports key use-cases for growing businesses, enabling you to scale faster.</p>
					</div>
					<section class="info-grid fancy-grid grid-two-up" style="padding-top: 12px;">
						<!-- Box 1 -->
						<a href="/what-we-do/by-audience/deep-market-research" class="info-box" aria-label="">
						  <span class="info-tag">By Use Case</span>
						  <h3>Deep Market Research</h3>
						  <span class="read-more">Explore what we can do</span>
						  <img src='' alt="" role="presentation" >
						</a>
					  
						<!-- Box 2 -->
						<a href="/what-we-do/by-audience/growing-sales-pipeline" class="info-box" aria-label="">
						  <span class="info-tag">By Use Case</span>
						  <h3>Growing Sales Pipeline</h3>
						  <span class="read-more">Explore what we can do</span>
						  <img src="" alt="" role="presentation" >
						</a>
			
						<!-- Box 3 -->
						<a href="/what-we-do/by-audience/reengaging-existing-customers" class="info-box" aria-label="">
							<span class="info-tag">By Use Case</span>
							<h3>Re-engaging Existing Customers</h3>
							<span class="read-more">Explore what we can do</span>
							<img src="" alt="" role="presentation" >
						  </a>
			
						  <!-- Box 4 -->
						<a href="/what-we-do/by-audience/testing-new-markets" class="info-box" aria-label="">
							<span class="info-tag">By Use Case</span>
							<h3>Testing New Markets</h3>
							<span class="read-more">Explore what we can do</span>
							<img src="" alt="" role="presentation" >
						  </a>
						</section>
				</article>
					<article class="content-container">
						<div class="section-title">
							<h3>How we do it</h3>
							<p>Harness cutting-edge AI tech for your business. Learn more about the power behind Dream.</p>
						</div>
						<section class="info-grid fancy-grid" style="padding-top: 12px;">
							<!-- Box 1 -->
							<a href="/how-we-do-it/" class="info-box" aria-label="">
							  <span class="info-tag">How we do it</span>
							  <h3>Learn more about the technology behind Dream and why it's different</h3>
							  <span class="read-more">Explore how we do it</span>
							</a>
						  
							<!-- Box 2 -->
							<a href="/how-we-do-it/research-engine" class="info-box" aria-label="">
							  <span class="info-tag">Research Engine</span>
							  <h3>The research tools of your dreams. See how Research Engine brings you answers</h3>
							  <span class="read-more">Explore how we do it</span>
							</a>
						</section>
					</article>
		</section>
	</main>
	<section class="final-cta"> 
		<article class="main-content cta-container"> 
			<h3>See what’s possible for your business</h3> 
			<p>Learn how Dream can 10X your growth. Book your personal meeting to explore our solutions.</p> 
			<Button variant="reverse" href="/book-meeting" target="_blank" label=""> Book your meeting <img src={arrowRightLight.src} role="presentation" alt="" loading="lazy"> </Button> 
		</article> 
	</section>
	<Footer variant="beside-cta"/>
</Layout>