---
import Layout from '../../layouts/Layout.astro';

import Button from '../../components/Button.astro';
import Navigation from '../../components/Navigation.astro';
import Footer from '../../components/Footer.astro';
import FAQ from '../../components/FAQ.astro';

import arrowRightDark from "/src/img/arrow-right-dark.svg";

import arrowRightYellow from '/src/img/arrow-right-yellow.svg';

import "../../styles/main.scss";
import UseCaseBlock from '../../components/UseCaseBlock.astro';

---

<Layout title="Target the right company, at the right time, with the right message">
	<Navigation />
	<header>
		<div class="hero-elements main-content">
			<section class="header-text ">
				<h1 class="page-title">Dream vs 11x</h1>
				<span>From discovery to booking, automate your whole process with Dream. Our sales agents deliver on every step, meaning you're not just working faster, but better.</span>
				<span>Find out how we compare with 11x</span>
                <Button 	
					label="Get started with Dream"
					href="https://calendly.com/cgdcowley/discovery-call-dream" 
					target="_blank"
				><img src={arrowRightYellow.src} role="presentation" /></Button>
			</section>
		</div>
	</header>
	<main>
		<section class="main-content content-row">
                <h2 class="section-heading">Why choose Dream?</h2>
                <div class="limit-para">
                    <p>Creating personalised outreach starts with better data. With Dream you can build detailed prospect lists, enriched with any combination of personal or live data.</p>
                    <p>Dream doesn't just stop at the data step. Our prospect search uses deep contextual understanding of your goals to find the right people at your target companies. Whether they're a digital-first business with a detailed footprint, or a local brick and mortar store - we find the person who wants to read your message.</p>
                    <p>And it gets even better, you don't have to put pen to paper (fingers to keyboard?). Dream creates deeply personalised messages for all your prospects, drawing on your data to craft messages so good, you'll wish they were yours.</p>
                </div>
		</section>
        <section class="main-content use-cases content-row">
            <UseCaseBlock state="state1" />
            <UseCaseBlock state="state3" />
        </section>
        <section>
            <article class="main-content faq-row">
                <h2 class="section-heading">Frequently asked questions</h2>
                <FAQ summary="What is Dream?">
                    Test information
                </FAQ>
                <FAQ summary="How do I use Dream to manage target lists?">
                    Test information
                </FAQ>
                <FAQ summary="Why should I choose Dream over 11x?">
                    Test information
                </FAQ>
                <FAQ summary="Is Dream secure?">
                    Test information
                </FAQ>
                <FAQ summary="Does Dream integrate with my other tools?">
                    Test information
                </FAQ>
                <FAQ summary="How long does it take to get started with Dream?">
                    Test information
                </FAQ>
            </article>
        </section>
        <section class="main-content content-list">
            <section class="main-content content-row"> 
                <article class="stats-box"> 
                <h2>What this delivers</h2> 
                <ul class="stats-items"> 
                    <li><span class="number">10x</span><p>Your pipeline generation</p> </li>
                    <li><span class="number">25%</span><p>The cost vs a human</p> </li>
                </article> 
            </section>
        </section>
	</main>
	<section class="final-cta">
		<article class="main-content cta-container">
			<h3>Accelerate your sales, maximise conversion, with instant ramp-up</h3>
			<p>Get your sales running on autopilot. Start using Dream today.</p>
			<Button 	
							label="Book your demo"
							href="https://calendly.com/cgdcowley/discovery-call-dream" 
							target="_blank"
						><img src={arrowRightDark.src} role="presentation" alt="" loading="lazy"/></Button> 
		</article>
	</section>
	<Footer />
</Layout>