@import '../styles/main.scss';
@import '../styles/colours.scss';
@import '../styles/elements.scss';

.button {
    cursor: pointer;
    
    @include dreamButtonPrimarySmall;
    
    &.secondary {
        @include dreamButtonSecondarySmall;
    }

    &.medium {
        @include dreamButtonPrimaryMedium;
    }

    &.medium.secondary {
        @include dreamButtonSecondaryMedium;
    }

    &.large {
        @include dreamButtonPrimaryLarge;
    }

    &.large.secondary {
        @include dreamButtonSecondaryLarge;
    }

    &.discord-button {
        flex-direction: row-reverse;
        border-color: #25d366 !important;
    }
}

.button img {
    width: 24px;
    height: 24px;
}