---
interface Props {
	label: string;
	href: string;
    target: string;
}

const { label, href, target } = Astro.props;

import '../components/button.scss';
---

<a class="button" href={href} target={target}>
    {label}
    <slot />
</a>