---
interface Props {
    variant?: 'beside-cta' | 'standard';
}

const { variant = 'standard' } = Astro.props;

import '../components/footer.scss';

import Logo from './Logo.astro';

import iconDiscord from '/src/img/icon-discord.svg?raw';
import iconLinkedIn from '/src/img/icon-linkedin.svg?raw';
import iconInstagram from '/src/img/icon-instagram.svg?raw';
// import iconTiktok from '/src/img/icon-tiktok.svg?raw';
import iconYoutube from '/src/img/icon-youtube.svg?raw';

---

{variant === 'standard' && (
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-bottom">
                <div>
                  <Logo version="stacked" mode="mono" color="#ffffff"/>
                <p>The assistant you’ve always been promised</p>
                </div>
                <ul class="footer-social-links">
                {/* <li class="channel-item">
						  <a href="https://discord.gg/UNYwC8Cu" class="channel-link" target="_blank" rel="noopener noreferrer">
                <Fragment set:html={iconDiscord} />
							<span class="channel-label visually-hidden">Join us on Discord</span>
						  </a>
						</li> */}
						<li class="channel-item">
						  <a href="https://www.linkedin.com/company/dream-ai-assistants" class="channel-link" target="_blank" rel="noopener noreferrer">
                <Fragment set:html={iconLinkedIn} />
							<span class="channel-label visually-hidden">Find us on LinkedIn</span>
						  </a>
						</li>
						<li class="channel-item">
						  <a href="https://www.instagram.com/usedream.ai?igsh=OTBmanJiMXpyNDll&utm_source=qr" class="channel-link" target="_blank" rel="noopener noreferrer">
                <Fragment set:html={iconInstagram} />
							<span class="channel-label visually-hidden">Find us on Instagram</span>
						  </a>
						</li>
						<li class="channel-item">
						  <a href="https://www.youtube.com/@usedream-ai" class="channel-link" target="_blank" rel="noopener noreferrer">
                <Fragment set:html={iconYoutube} />
							<span class="channel-label visually-hidden">Watch us on Youtube</span>
						  </a>
						</li>
              </ul>
            </div>
            
            
        
        </div>
        <div class="small-stuff">
			<small>© 2025 Dream | All rights reserved</small>
			<a class="policy-link" href="/privacy">Privacy policy</a>
		</div>
    </footer>
  )}
