---
interface Props {
}

const { } = Astro.props;

import '../components/footer.scss';

import Logo from './Logo.astro';
---

<footer class="footer">
    <div class="footer-container">
        <div class="footer-bottom">
            <Logo color="#F3F3F5"/>
            <p>Faster growth with powerful, precise AI tools</p>
        </div>
        <div class="footer-section">
            <h4>Using Dream</h4>
            <ul>
            <li><a href="#">Dream vs 11x</a></li>
            <li><a href="#">Dream vs Relevance.ai</a></li>
            <li><a href="#">Dream vs Clay</a></li>
            <li><a href="/use-cases/new-territory?lang=fr">Sell to the French market</a></li>
            <li><a href="/use-cases/new-territory?lang=es">Sell to the Spanish market</a></li>
            <li><a href="/use-cases/new-territory?lang=de">Sell to the German market</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>About</h4>
            <ul>
            <li><a href="/end-to-end-sdrs">End to end SDRs</a></li>
            <li><a href="/next-generation">Next Generation AI</a></li>
            <li><a href="/use-cases">Use cases</a></li>
            </ul>
        </div>
        
        <div class="footer-section">
            <h4>Company</h4>
            <ul>
            <li><a href="/privacy">Privacy Policy</a></li>
            <li><a href="/terms-of-service">Terms of Service</a></li>
            <li><a href="https://prong-cold-847.notion.site/Dream-Open-Roles-a11b6cb094da4d2d806df30ea585e174" target="_blank">Careers</a></li>
            </ul>
        </div>
        
      
    </div>
    <small>© 2024 Zally Mix | All rights reserved</small>
  </footer>
  
