---
interface Props {
    variant?: 'beside-cta' | 'standard';
}

const { variant = 'standard' } = Astro.props;

import '../components/footer.scss';

import Logo from './Logo.astro';
---

{variant === 'standard' && (
    <footer class="footer">
        <div class="footer-container">
            <div class="footer-bottom">
                <Logo version="stacked" mode="mono" color="#ffffff"/>
                <p>Research-led AI that makes anything possible</p>
            </div>
            <div class="footer-section">
              <h4>What We Do</h4>
              <ul>
                <li><a href="/what-we-do/by-industry/travel">For Travel</a></li>
                <li><a href="/what-we-do/by-industry/f-and-b">For Food & Beverage</a></li>
                <li><a href="/what-we-do/by-use-case/deep-market-research">Deep Market Research</a></li>
                <li><a href="/what-we-do/by-use-case/growing-sales-pipeline">Growing Sales Pipeline</a></li>
                <li><a href="/what-we-do/by-use-case/grow-marketplaces">Grow Marketplaces</a></li>
                <li><a href="/what-we-do/by-use-case/test-new-markets">Test New Markets</a></li>
              </ul>
          </div>
          <div class="footer-section">
              <h4>How We Do It</h4>
              <ul>
                <li><a href="/how-we-do-it/research-engine">Research Engine</a></li>
                <li><a href="/how-we-do-it/list-building">List Building</a></li>
                <li><a href="/how-we-do-it/prospecting">Prospecting</a></li>
                <li><a href="/how-we-do-it/outreach">Outreach</a></li>
              </ul>
          </div>
          
          <div class="footer-section">
              <h4>Company</h4>
              <ul>
                <li><a href="/about">About Dream</a></li>
              <li><a href="/privacy">Privacy Policy</a></li>
              <li><a href="/terms-of-service">Terms of Service</a></li>
              <li><a href="/versus/11x">Dream versus 11x</a></li>
              <li><a href="/versus/clay">Dream versus Clay</a></li>
              <li><a href="https://prong-cold-847.notion.site/Dream-Open-Roles-a11b6cb094da4d2d806df30ea585e174" target="_blank">Careers</a></li>
              </ul>
          </div>
            
        
        </div>
        <small>© 2024 Dream | All rights reserved</small>
    </footer>
  )}
  
  {variant === 'beside-cta' && (
  <footer class="footer cta-footer">
      <div class="footer-container">
          <div class="footer-bottom">
              <Logo version="stacked" mode="mono" color="#ffffff"/>
              <p>Research-led AI that makes anything possible</p>
          </div>
          <div class="footer-section">
              <h4>What We Do</h4>
              <ul>
                <li><a href="/what-we-do/by-industry/travel">For Travel</a></li>
                <li><a href="/what-we-do/by-industry/f-and-b">For Food & Beverage</a></li>
                <li><a href="/what-we-do/by-use-case/deep-market-research">Deep Market Research</a></li>
                <li><a href="/what-we-do/by-use-case/growing-sales-pipeline">Growing Sales Pipeline</a></li>
                <li><a href="/what-we-do/by-use-case/grow-marketplaces">Grow Marketplaces</a></li>
                <li><a href="/what-we-do/by-use-case/test-new-markets">Test New Markets</a></li>
              </ul>
          </div>
          <div class="footer-section">
              <h4>How We Do It</h4>
              <ul>
                <li><a href="/how-we-do-it/research-engine">Research Engine</a></li>
                <li><a href="/how-we-do-it/list-building">List Building</a></li>
                <li><a href="/how-we-do-it/prospecting">Prospecting</a></li>
                <li><a href="/how-we-do-it/outreach">Outreach</a></li>
              </ul>
          </div>
          
          <div class="footer-section">
              <h4>Company</h4>
              <ul>
                <li><a href="/about">About Dream</a></li>
              <li><a href="/privacy">Privacy Policy</a></li>
              <li><a href="/terms-of-service">Terms of Service</a></li>
              <li><a href="/versus/11x">Dream versus 11x</a></li>
              <li><a href="/versus/clay">Dream versus Clay</a></li>
              <li><a href="https://prong-cold-847.notion.site/Dream-Open-Roles-a11b6cb094da4d2d806df30ea585e174" target="_blank">Careers</a></li>
              </ul>
          </div>
          
      
      </div>
      <small>© 2024 Dream | All rights reserved</small>
  </footer>
)}
