---
interface Props {
}

const { } = Astro.props;

import '../components/footer.scss';

import Logo from './Logo.astro';
---

<footer class="footer">
    <div class="footer-container">
        <div class="footer-bottom">
            <Logo version="stacked" mode="mono" color="#ffffff"/>
            <p>Research-led AI that makes anything possible</p>
        </div>
        <div class="footer-section">
            <h4>Using Applied Thought</h4>
            <ul>
            <li><a href="/versus/11x">Applied Thought vs 11x</a></li>
            <li><a href="/versus/clay">Applied Thought vs Clay</a></li>
            <li><a href="/use-cases/new-territory?lang=fr">Sell to the French market</a></li>
            <li><a href="/use-cases/new-territory?lang=es">Sell to the Spanish market</a></li>
            <li><a href="/use-cases/new-territory?lang=de">Sell to the German market</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>About</h4>
            <ul>
            <li><a href="/end-to-end-sdrs">Meet your AI Sales Team</a></li>
            <li><a href="/next-generation">Next Generation AI</a></li>
            <li><a href="/use-cases">Use cases</a></li>
            </ul>
        </div>
        
        <div class="footer-section">
            <h4>Company</h4>
            <ul>
            <li><a href="/privacy">Privacy Policy</a></li>
            <li><a href="/terms-of-service">Terms of Service</a></li>
            <li><a href="https://prong-cold-847.notion.site/Applied Thought-Open-Roles-a11b6cb094da4d2d806df30ea585e174" target="_blank">Careers</a></li>
            </ul>
        </div>
        
      
    </div>
    <small>© 2024 Applied Thought | All rights reserved</small>
  </footer>
  
