---
interface Props {
}

const { } = Astro.props;

import Logo from '../components/Logo.astro';
import '../components/header.scss';
---

<nav>
    <Logo />
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">End-to-end SDRs</a></li>
        <li><a href="/next-generation">What's a Gen 2.0 agent?</a></li>
        <li><a href="/use-cases">Use cases</a></li>
        <li><a href="/">Resources</a></li>
        <li><a href="/">Careers</a></li>
    </ul>
</nav>

