@import '../styles/main.scss';

@keyframes appearModal {
    0% { transform: translateY(300px) scale(1); opacity: 0; filter: blur(12px); }
    60% { transform: translateY(-2px) scale(1,0.98); opacity: 1; filter: blur(0); }
    70% { transform: translateY(1px) scale(1,1.005); opacity: 1; }
    100% { transform: translateY(0) scale(1); opacity: 1; }
}

.modal {
    position: fixed;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    top: 10vh;
    border-radius: 16px;
    border: 1px solid $light-grey;
    background: $plus-white;
    box-shadow: 0 12px 24px 2px rgba($wallstreet-black,.12);
    animation: appearModal .4s ease 1;
    transform-origin: top center;

    .modal__surface {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .modal__header {
        height: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .modal__close {
            appearance: none;
            min-width: 32px;
            min-height: 32px;
            max-width: 32px;
            display: flex;
            background: transparent;
            border: none;
            border-radius: 8px;
            transition: background .3s ease;
            flex: 1;

            &:hover {
                background: $quadra-grey;
            }
        }

        .modal__title h2 {
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.1px;
            font-family: 'Nature', sans-serif;
        }
    }
}

#mailing-list-modal {
    width: 1152px;
    margin-left: -576px;
    padding: 32px;

    .modal__header {
        height: auto;
        
        .modal__title h2 {
            font-size: 40px;
            line-height: 48px;
            letter-spacing: -0.1rem;
        }
    }

    .modal__surface {
        .modal-form {
            border-radius: 24px;
            border: 1px solid var(--Quadra-Grey, #EBE9E4);
            background: linear-gradient(180deg, #FFFEFC 0%, #F7F3ED 100%);
            padding: 24px;
            
            form {
                display: flex;
                flex-direction: column;
                gap: 12px;

                label {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                }

                label, fieldset legend {
                    font-weight: 500;
                    color: $wallstreet-black;
                }

                fieldset {
                    appearance: none;
                    border: none;
                    padding: 0;

                    .radio-option {
                        display: flex;
                        gap: 4px;
                        justify-content: flex-start;
                        align-items: center;

                        label {
                            font-weight: 400;
                        }
                    }
                }

                input {
                    border: 1px solid $light-grey;
                    border-radius: 6px;
                    padding: 8px 16px;
                    background: $plus-white;
                }
            }
        }

        .success-view {
            display: flex;
            flex-direction: column;
            gap: 16px;
            
            h3 {
                @include heading5;
            }
        }
    }
}

.modal, #mailing-list-modal {
    @media (max-width: 600px) {
        width: 100%;
        top: 20px;
        margin: 0;
        bottom: 0;
        left: 20px;
        right: 0;
        padding: 20px;

        .modal__header .modal__title h2 {
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -0.06rem;
        }
    }
}

::backdrop {
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 13, 38, 0.60) 0%, rgba(55, 69, 98, 0.60) 100%);
    backdrop-filter: blur(6px);
}

#call-modal {
    padding: 32px;

    .modal__header {
        height: auto;
        
        .modal__title h2 {
            font-size: 40px;
            line-height: 48px;
            letter-spacing: -0.1rem;
            text-align: left;
        }
    }

    .qr-modal__visual {
        margin: 12px auto;
        padding: 24px;
        background: $dream-yellow;
        border-radius: 12px;
        border: 1px solid rgba($wallstreet-black,.12);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 256px;
            height: 256px;
        }
    }
}
