@import '../styles/main.scss';

@keyframes appearModal {
    0% { transform: translateY(300px) scale(1); opacity: 0; filter: blur(12px); }
    60% { transform: translateY(-2px) scale(1,0.98); opacity: 1; filter: blur(0); }
    70% { transform: translateY(1px) scale(1,1.005); opacity: 1; }
    100% { transform: translateY(0) scale(1); opacity: 1; }
}

@keyframes toastModal {
    0% { transform: translateY(300px) scale(1); opacity: 0; filter: blur(12px); }
    100% { transform: translateY(0) scale(1); opacity: 1; }
}

.modal {
    position: fixed;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    top: 10vh;
    border-radius: 44px;
    border: 1px solid $light-grey;
    background: $plus-white;
    box-shadow: 0 12px 24px 2px rgba($wallstreet-black,.12);
    animation: appearModal .4s ease 1;
    transform-origin: top center;

    @media (max-width: 900px) {
        border-radius: 12px;
    }

    .modal__surface {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .modal__header {
        height: 32px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .modal__close {
            appearance: none;
            min-width: 32px;
            min-height: 32px;
            max-width: 32px;
            display: flex;
            background: transparent;
            border: none;
            border-radius: 8px;
            transition: background .3s ease;
            flex: 1;

            &:hover {
                background: $quadra-grey;
            }
        }

        .modal__title h2 {
            font-size: 20px;
            line-height: 24px;
            letter-spacing: -0.1px;
            font-family: 'Nature', sans-serif;
        }
    }
}

#mailing-list-modal {
    width: 1152px;
    margin-left: -576px;
    padding: 32px;

    .modal__header {
        height: auto;
        
        .modal__title h2 {
            font-size: 40px;
            line-height: 48px;
            letter-spacing: -0.1rem;
        }
    }

    .modal__surface {
        .modal-form {
            border-radius: 24px;
            border: 1px solid var(--Quadra-Grey, #EBE9E4);
            background: linear-gradient(180deg, #FFFEFC 0%, #F7F3ED 100%);
            padding: 24px;

            @media (max-width: 600px) {
                border: none;
                padding: 0 16px 16px;
                border-radius: 12px;
            }

            button.primary {
                max-width: 500px;
                padding: 24px;
                margin: 24px auto 0;
                text-wrap: wrap;
            }
            
            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 12px;

                label {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    width: 100%;
                    max-width: 500px;
                }

                label, fieldset legend {
                    font-weight: 500;
                    color: $wallstreet-black;
                }

                fieldset {
                    appearance: none;
                    border: none;
                    padding: 0;

                    &.dreamie-radio-group {
                        display: flex;
                        gap: 12px;
                        width: 100%;

                        @media (max-width: 900px) {
                            flex-direction: column;
                            flex-wrap: wrap;
                        }
                    }

                    .radio-option {
                        display: flex;
                        gap: 4px;
                        justify-content: flex-start;
                        align-items: center;

                        &.fancy-option {
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            gap: 12px;
                            position: relative;
                            margin-bottom: 12px;

                            .fancy-option-inner {
                                background: $plus-white;
                                border-radius: 10px;
                                padding: 24px;
                                display: flex;
                                flex-direction: column;
                                gap: 12px;
                                min-height: 160px;

                            }

                            .button {
                                justify-content: space-between;
                                margin-top: 24px;
                                margin-bottom: 0;
                                transition: opacity .2s ease;

                                span {
                                    font-size: 16px;
                                    font-weight: 500;
                                    padding: 0;
                                    margin: 0 auto 0 -4px;
                                }
                                
                                @media (max-width: 800px) {
                                    span {
                                        display: none;
                                    }
                                }
                            }

                            label {
                                flex: 1;
                                display: flex;
                                border-radius: 12px;
                                padding: 2px;
                                background: conic-gradient(#FFD601, #EE4266,#97D5FC, #FFFEFC, #FFD601);
                                box-shadow: $box-shadow-sm;
                                transition: box-shadow .3s ease, background-color .3s ease;
                                cursor: pointer;
                                z-index: 1;
                                width: 100%;    
                                position: relative;   
                                
                                &:after {
                                    content: '';
                                    width: 40px;
                                    height: 40px;
                                    background: url('/src/img/check-black.svg') no-repeat 50%;
                                    background-size: cover;
                                    display: block;
                                    position: absolute;
                                    bottom: 24px;
                                    left: 24px;
                                    opacity: 0;
                                    transform: scale(0);
                                    transform-origin: 50%;
                                    transition: opacity .2s ease, transform .2s ease;;
                                }
                            }

                            &:first-of-type {
                                padding-left: 128px;

                                &::before {
                                    content: '';
                                    width: 170px;
                                    height: 170px;
                                    background: url('/src/img/stickers/sales-big-sticker.png') no-repeat 50%;
                                    background-size: contain;
                                    position: absolute;
                                    left: 0;
                                    bottom: -12px;
                                    z-index: 0;
                                    pointer-events: none;

                                    @media (max-width: 600px) {
                                        // z-index: 2;
                                        // right: -54px;
                                        // top: -40px;
                                        // bottom: auto;
                                        // left: auto;
                                        // width: 150px;

                                        display: none;
                                    }
                                }

                                @media (max-width: 600px) {
                                    padding-left: 0;
                                }
                            }

                            &:last-of-type {
                                padding-right: 128px;
                                
                                label {
                                    background: conic-gradient(from -180deg, #FFD601, #EE4266,#97D5FC, #FFFEFC, #FFD601);
                                }

                                &::before {
                                    content: '';
                                    width: 170px;
                                    height: 170px;
                                    background: url('/src/img/stickers/pa-big-sticker.png') no-repeat 50%;
                                    background-size: contain;
                                    position: absolute;
                                    right: 0;
                                    bottom: -12px;
                                    z-index: 0;
                                    pointer-events: none;

                                    @media (max-width: 600px) {
                                        // z-index: 2;
                                        // right: 1px;
                                        // top: -46px;
                                        // bottom: auto;
                                        // left: auto;
                                        // width: 150px;

                                        display: none;
                                    }
                                }

                                @media (max-width: 600px) {
                                    padding-right: 0;
                                }
                            }

                            input {
                                appearance: none;
                                background: transparent;
                                border: none;
                                display: none;

                                &:checked + label {

                                    &:after {
                                        opacity: 1;
                                        transform: scale(1);
                                    }

                                    .fancy-option-inner {
                                        background: rgba($plus-white, .9);
                                        box-shadow: $box-shadow-lg;
                                    }

                                    .button {
                                        opacity: 0;
                                    }
                                }
                            }
                            
                            span {
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 800;
                                line-height: 24px; 
                                letter-spacing: -0.48px;
                                margin-bottom: 24px;

                                &.assistant-title {
                                    font-size: 32px;
                                    line-height: 40px;
                                    font-family: 'Nature', sans-serif;
                                    font-weight: 500;
                                    letter-spacing: -0.05px;
                                    margin-bottom: 0;

                                    @media (min-width: 960px) {
                                        font-size: 40px;
                                        line-height: 44px;
                                    }
                                }
                            }
                            
                            

                        }

                        label {
                            font-weight: 400;
                        }
                    }
                }

                input {
                    border: 1px solid $light-grey;
                    border-radius: 6px;
                    padding: 8px 16px;
                    background: $plus-white;
                    width: 100%;

                    &[type=text], &[type=email], &[type=tel] {
                        max-width: 500px;
                    }
                }
            }
        }

        .success-view {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 16px;
            border-radius: 16px;
            background: radial-gradient(50% 100% at 50% 100%, rgba(255, 214, 1, 0.50) 0%, rgba(235, 233, 228, 0.50) 100%), rgba(247, 243, 237, 0.50);
            backdrop-filter: blur(12px);
            padding: 128px 24px 24px;
            position: relative;
            
            .success-links {
                display: flex;
                gap: 12px;
                flex-wrap: wrap;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    font-weight: 500;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    border-radius: 8px;
                    background: rgba(255, 254, 252, 0.50);
                    padding: 16px;
                    min-width: 256px;

                    svg, path {
                        stroke-color: $performa-black;
                    }

                    a {
                        color: $wallstreet-black;
                        text-decoration: none;
                    }
                }
            }

            h3 {
                @include heading5;
                text-align: center;
            }
        }
    }
}

.modal, #mailing-list-modal {
    @media (max-width: 1160px) {
        width: 100%;
        top: 20px;
        margin: 0;
        bottom: 0;
        left: 20px;
        right: 0;
        padding: 20px;

        .modal__header .modal__title h2 {
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -0.06rem;
        }
    }

    @media (max-width: 700px) {
        padding: 12px;
        left: 0;
        bottom: 0;
        max-height: 80vh;
        top: auto;
        width: 100vw;
        max-width: 100vw;
        border-radius: 24px 24px 0 0;
        animation: toastModal .3s ease 1 forwards;

        .modal__header {
            flex-direction: column-reverse;
            gap: 12px;
            padding: 12px;

            .modal__close {
                width: 32px;
                height: 32px;
            }

            .modal__title h2 {
                font-size: 40px;
                line-height: 44px;
            }
        }
    }
}

::backdrop {
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 13, 38, 0.60) 0%, rgba(55, 69, 98, 0.60) 100%);
    backdrop-filter: blur(6px);
}

#call-modal {
    padding: 32px;

    .modal__header {
        height: auto;
        
        .modal__title h2 {
            font-size: 40px;
            line-height: 48px;
            letter-spacing: -0.1rem;
            text-align: left;
        }
    }

    .qr-modal__visual {
        margin: 12px auto;
        padding: 24px;
        background: $dream-yellow;
        border-radius: 12px;
        border: 1px solid rgba($wallstreet-black,.12);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 256px;
            height: 256px;
        }
    }
}
