@import '../styles/main.scss';

.navigation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    position: sticky;
    top: 0;
    z-index: 99;
    padding: 8px 16px 0;
    background: $color-plus-white;
    transition: background-color .2s ease;

    @media (max-width: 800px) {
      padding-top: 16px;
    }

    &.dropdown-open {
      background: white;
    }

    @media (min-width: 800px) {
      padding: 16px 32px 0;
    }

    a.logo-nav {
      padding: 0;
      margin-left: 0;
     margin-right: auto;
    }

    svg.logo {
      max-height: 32px;
      height: auto;
      width: 128px;

      @media (max-width: 600px) {
        max-height: 28px;
        width: 112px;
      }
    }
}



nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    z-index: 2;
    width: 100%;
    display: flex;
    box-shadow: 0 1px 0 rgba($color-wallstreet-black, .5);
    padding: 0 0 12px;

    @media (max-width: 1170px) {
      gap: 16px;
    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1vw;
        padding: 0;

        li {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }
    }

    a {
      color: $color-wallstreet-black;
      font-family: 'SplineSans', sans-serif;
      position: relative;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
      padding: 12px 16px;
      text-decoration: none;
      border-radius: 8px;
      cursor: pointer;
      transition: box-shadow .3s ease, text-shadow .4s ease;
      box-shadow: inset 0 0 12px 1px transparent, inset 0 0 8px 2px transparent;

      &.logo {
        padding: 0;
        margin-left: 0;
        margin-right: auto;

        &:hover {
          box-shadow: none;
        }

          @media (max-width: 1170px) {
            margin-right: auto;
            margin-top: 2px;
        }
      }

      &.dropdown-toggle {
        display: flex;
        align-items: center;
        
        &:after {
          content: '';
          display: inline-block;
          width: 20px;
          height: 20px;
          background: url('/src/img/nav-dropdown.svg') no-repeat 50%;
          background-size: 20px;
          transition: transform .2s ease;
        }
      }

      &.login-button, &.mobile-demo-button, &.button {
        text-wrap: nowrap;
        text-decoration: none;
        font-weight: 500;
        padding: 12px 20px;
        transition: background-color .2s ease, box-shadow .2s ease;

        @media (max-width: 1170px) {
          order: 3;
        }

        @media (max-width: 500px) {
          font-size: 13px;
        }
      }

      @media (min-width: 1000px) {
        &:hover {
            box-shadow: inset 0 0 0 32px rgba($color-wallstreet-black, .2), inset 0 0 4px 1px rgba($color-dream-yellow, .05);
        }
      }

      &.active {
        box-shadow: inset 0 0 0 32px rgba($color-wallstreet-black, .25), inset 0 0 4px 1px rgba($color-dream-yellow, .15);
      }

      &.active {
        &:after {
          transform: rotate(180deg);
        }
      }
  }
}
  
  .navbar .dropdown-menu {
    position: absolute;
    top: 100%;
    width: 100vw;
    left: 0;
    background-color: $color-plus-white;
    border-radius: 0;
    list-style: none;
    padding: 0;
    opacity: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: max-height .8s ease;
    max-height: 0;

    .dropdown-inner {
      max-width: 1152px;
      padding: 24px;
      margin: auto;
      display: flex;
      flex-direction: row;
      gap: 32px;    

      ul {
        display: flex;
        flex-direction: column;
        gap: 0;
        justify-content: stretch;
        align-items: flex-start;
        flex: 1;
        padding: 8px 0 0 16px;
        border-left: 1px solid $color-gray-lighter;

        > * {
          width: 100%;
          text-align: left;
          justify-content: flex-start;
          align-items: flex-start;
        }

        li {
          border: none;
        }
      }

      h4 {
        flex: 1;
        text-align: left;

        a {
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 40px; /* 125% */
          letter-spacing: -0.48px;
          color: $color-wallstreet-black;
          text-align: left;
          display: flex;
          align-items: center;
          gap: 12px;
          padding: 0;
          font-family: 'SpaceGrotesk', sans-serif;

          img {
            width: 28px;
            height: 28px;
            transition: transform .2s ease;
          }
          
          &:hover {
            box-shadow: none;

            img {
              transform: rotate(-45deg);
            }
          }
        }
      }
       
      h5 {
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px; /* 111.111% */
        letter-spacing: -0.36px;
        text-align: left;
        margin-bottom: 8px;
        color: $color-wallstreet-black;
        
        @media (max-width: 1170px) {
          margin: 12px 0 4px;
          padding-bottom: 8px;
          border-bottom: 1px solid $color-gray-light;
          width: 100%;
        }
      }
    }

    &.show {
      display: block;
      max-height: 900px;
      padding: 12px 32px;
      opacity: 1;

      @media (max-width: 1170px) {
        padding: 24px 8px;
        margin: 0;
      }
    }

    @media (max-width: 1170px) {
      position: relative;
      width: auto;
      top: auto;
      padding: 0;

      .dropdown-inner {
        flex-direction: column;
        gap: 8px;
        padding: 0;
        
        ul {
          border-left: 0;
          padding: 0;
        }
      }
    }
  }


  
  .navbar .dropdown-menu li {
    padding: 4px 0 0;
    
    &:not(:last-of-type) {
      padding: 4px 0;
      border-bottom: 1px solid $color-grays-lighter;
    }

    &:first-of-type {
      padding-top: 0;
    }

    a {
      display: block;
      text-shadow: none;
      padding: 12px 16px;
      font-size: 15px;
      font-weight: 400;
      text-align: left;
      width: 100%;
      color: $color-performa-black;
      display: flex;
      align-items: center;
      gap: 12px;
      transition: background .2s ease;

      @media (max-width: 1170px) {
        padding: 12px 0;
      }

      &:hover {
        background: rgba($color-wallstreet-black, .25);
        box-shadow: none;
      }

      img {
        width: 32px;
        height: 32px;
      }
    }
  }


  
  /* Hamburger menu styles */
.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  display: none; /* Hidden on larger viewports */
  width: 46px;
  height: 46px;
  padding: 0;
  justify-content: center;
  align-items: center;
  background: rgba(0, 13, 38, 0.1);
  border-radius: 8px;
  order: 2;
  margin-left: 8px;
  margin-right: 0;

  @media (max-width: 500px) {
    width: 40px;
    height: 40px;
    min-width: 40px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &.navOpen {
    background: $color-wallstreet-black;

    svg rect {
      fill: $color-plus-white;
    }
  }
}

.hamburger svg {
  width: 24px;
  height: 24px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


/* Media query for small screens */
@media (max-width: 1170px) {
  .navigation {

    nav {
      justify-content: space-between;
    }
  }

  @keyframes nav-appear {
    0% { transform: scale(0.9); opacity: 0; padding: 4px; }
    100% { transform: scale(1); opacity: 1; padding: 12px; }
  }

  .navbar {
    display: none;
    flex-direction: column;
    gap: 12px;
    justify-content: stretch;
    align-items: stretch;
    background-color: white;
    border-radius: 12px;
    position: absolute;
    top: 68px;
    left: auto;
    right: 16px;
    
    bottom: 0;
    height: calc(100vh - 78px);
    overflow: auto;
    max-width: 480px;
    width: calc(100% - 32px);
    transform-origin: top right;
    box-shadow: 0px 8px 16px 0px rgba(6, 22, 54, 0.10), 0px 2px 4px 0px rgba(0, 13, 38, 0.20);

    a {
      width: 100%;
      text-align: left;
      font-size: 16px;
    }
  }
  
  .dropdown-menu.show {
    position: relative;
    background: transparent;
    color: $color-plus-white;
    left: 0;
    margin-left: 16px;
    width: 100%;
    box-shadow: none;
    border: none;

    @media (max-width: 1170px) {
      padding-bottom: 12px;
      border-bottom: 1px solid $color-pomona-black;
    }

    li {
      &:not(:last-of-type) {
        border-color: rgba($color-plus-white, .2);
      } 
    }
  }

  .navbar.open {
    display: flex;
    animation: nav-appear .2s ease 1 forwards;
  }

  .hamburger {
    display: flex; /* Show hamburger on smaller viewports */
  }

  .desktop-login {
    display: none;
  }

  .mobile-login-button {
    padding: 0 12px;
  }

  .mobile-login-button a, .mobile-login-button {
    display: block;
    width: 100%;
    margin-left: auto;
    text-align: center;
  }
}

/* Ensure the dropdown menu works with click below 1000px */
@media (max-width: 1000px) {
  .navbar .dropdown .dropdown-menu {
    display: none;
  }

  .navbar .dropdown-menu.show {
    display: block;
  }
}

@media (max-width: 1170px) {
  .mobile-login-button, .mobile-demo-button {
    display: block;
    order: 3;
  }

  .login-button {
    display: none;
  }
}

@media (max-width: 500px) {
  .mobile-demo-button a {
    max-height: 40px;
    padding: 12px 8px;
    font-size: 13px;
    min-width: 112px;
  }
}

@media (min-width: 1171px) {
  .mobile-login-button {
    display: none;
  }

  .login-button {
    display: block;
  }
}

@media (max-width: 600px) {
  nav {
    gap: 8px;
  }

  .mobile-login-button a, .mobile-demo-button a {
    padding-left: 12px;
    padding-right: 12px;
  }
}

@keyframes grow {
  0% { max-height: 0; }
  100% { max-height: 320px;}
}

.navigation.open {
  background-color: white;
}

.navbar .dropdown-menu {
  background-color: white;  // Use white background when open
  overflow: hidden;
}

.navbar.open .dropdown-menu {
  background-color: white;
}

.page-content {
  transition: opacity 0.3s ease;
}

@media (min-width: 1171px) {
  body.dropdown-open {
    main, header, footer {
      transition: filter .2s ease, opacity .2s ease;
      filter: blur(8px);
      opacity: 50%;
      pointer-events: none;
    }
  }
}