---
interface Props {
  onClose?: () => void;
}

const { onClose } = Astro.props;

import "../components/navigation.scss";
import HamburgerIcon from "/src/img/nav.svg?raw";

import Logo from "../components/Logo.astro";

import Button from "../components/Button.astro";

import Modal from '../components/Modal.astro';

---

<div class="navigation">
  <nav>
    <a class="logo-nav" href="/"
      ><Logo /><span class="visually-hidden">Return home</span></a
    >
    <ul class="navbar">
    </ul>
    <!-- Always visible login button -->
    <div class="main-actions">
      <Button
        target=""
        variant="secondary"
        size="small"
        href="/get-started"
        label="">Schedule your interview</Button>
    </div>
  </nav>
</div>
