---
interface Props {
  onClose?: () => void;
}

const { onClose } = Astro.props;

import "../components/navigation.scss";
import HamburgerIcon from "/src/img/nav.svg?raw";

import Logo from "../components/Logo.astro";

import Button from "../components/Button.astro";

import Modal from '../components/Modal.astro';

import ArrowCircleIcon from "/src/img/icons/arrow-circle-dark.svg?raw";

---

<div class="navigation">
  <nav>
    <a class="logo-nav" href="/"
      ><Logo /><span class="visually-hidden">Return home</span></a
    >
    <ul class="navbar">
    </ul>
    <!-- Always visible login button -->
    <div class="main-actions">
      <Button
        target=""
        variant="secondary"
        size="small"
        class="mailing-list-button"
        data-open-modal="mailing-list-modal"
        label=""><div class="mailing-list-button-inner">Join the waitlist<fragment set:html={ArrowCircleIcon} /></div></Button>
    </div>
  </nav>
</div>
