---
import Layout from '../../layouts/Layout.astro';

import Navigation from '../../components/Navigation.astro';
import Footer from '../../components/Footer.astro';

import dots from '/src/img/semicircles.svg';

import listExample from '/src/img/list-example.png';

import Button from '../../components/Button.astro';
import arrowRightLight from '/src/img/arrow-right-white.svg';

---

<Layout title="Dream - For Rev-Ops">
	<Navigation />
	<header class="hero-home">
		<div class="hero-elements main-content">
			<section class="header-text">
				<h1 class="page-title">Great <span>messages</span> love great <span>data.</span></h1>
				<span>Dream loves data, and whether you're using our industry-leading research tools, or connecting to your own CRM or data source, your sales team can unlock its potential.</span>
			</section>
			<section class="header-image">
				<object data={dots.src} />
			</section>
		</div>
	</header>
	<main>
		<section class="main-content promo-image">
			<article class="content-container">
				<img src={listExample.src} alt="An example list created in Dream showing Series A companies in the UK. The list is populated with lots of data">
			</article>
		</section>
		<section class="main-content">
			<article class="content-container">
			</article>
		</section>
	</main>
	<section class="final-cta"> 
		<article class="main-content cta-container"> 
			<h3>See what’s possible for your business</h3> 
			<p>Learn how Dream can 10X your growth. Book your personal meeting to explore our solutions.</p> 
			<Button variant="reverse" href="/book-meeting" target="_blank" label=""> Book your meeting <img src={arrowRightLight.src} role="presentation" alt="" loading="lazy"> </Button> 
		</article> 
	</section>
	<Footer variant="beside-cta"/>
</Layout>