---
import Layout from '../../layouts/Layout.astro';

import Navigation from '../../components/Navigation.astro';
import Footer from '../../components/Footer.astro';

import dots from '/src/img/dots.svg';

import listExample from '/src/img/list-example.png';
import TabComponent from '../../components/TabComponent.astro';

---

<Layout title="ADD TITLE">
	<Navigation />
	<header class="hero-home">
		<div class="hero-elements main-content">
			<section class="header-text">
				<h1 class="page-title">Great <span>messages</span> love great <span>data.</span></h1>
				<span>Dream loves data, and whether you're using our industry-leading research tools, or connecting to your own CRM, your sales team can unlock its potential.</span>
			</section>
			<section class="header-image">
				<object data={dots.src} />
			</section>
		</div>
	</header>
	<main>
		<section class="main-content promo-image">
			<article class="content-container">
				<img src={listExample.src} alt="An example list created in Dream showing Series A companies in the UK. The list is populated with lots of data">
			</article>
		</section>
		<section class="main-content">
			<article class="content-container">
				<TabComponent />
			</article>
		</section>
	</main>
	<Footer />
</Layout>