---
import Layout from '../../../layouts/Layout.astro';

import Navigation from '../../../components/Navigation.astro';
import Footer from '../../../components/Footer.astro';

import leaf from '/src/img/leaf.svg';

---

<Layout title="ADD TITLE">
	<Navigation />
	<header class="hero-home">
		<div class="hero-elements main-content">
			<section class="header-text">
				<h1 class="page-title">Page title</h1>
				<span>Subtitle</span>
			</section>
			<section class="header-image">
				<object data={leaf.src}>
			</section>
		</div>
	</header>
	<main>
		<section class="main-content">
				
		</section>
	</main>
	<Footer />
</Layout>